{% extends 'base.html' %}
{% block title %}
    Perfromance Shop
{% endblock title %} 
{% block content %}
<header class="masthead">
    <section class="page-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <iframe width="840" height="472" src="https://www.youtube.com/embed/nuZ_bafNtvk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </br></br>
                    <h2 class="text-white mt-0">State of the art Dynojet Tuning Service</h2>
                    <p class="text-white-75 mb-4">Heres a sneak peak inside state of the art dyno facility, 
                        blah blah climate control, blah blah air pressure, for acurate readings and optimum control.</p>
                    <p class="text-white-75 mb-4">Click the link below to enqire about performance work or dyno readings.</p>
                    <a class="btn btn-info btn-xl" style='background-color:orange; color:white;' href="#contact">Contact</a>
                </div>
            </div>
        </div>
    </section>
</header>
{% endblock content %}